{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div>
        <ul>
            {%if user.is_authenticated%}
            <h1>hello world {{name}}</h1>
            {%else%}
            <h1>user not logged in</h1>
            {% endif %}
            {% for symptom in symptoms %}
            <li>{{symptom}}</li>
            {% endfor %}
        </ul>
    </div>
    
    
</body>
</html>