{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <link rel="stylesheet" href="{%static  'styles/pseudo-form.css'%}">
    <title>Document</title>
</head>

<body>
    {%include 'navbar.html'%}
    <link rel="stylesheet" href="{% static 'styles/toast.css'%}">
    {%include 'toast.html' %}
    <div class="wrapper1">
        <div class="title-text">
            <div class="title Doctor">
                Doctor Form
            </div>
            <div class="title Patient">
                Patient Form
            </div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="Doctor" checked>
                <input type="radio" name="slide" id="Patient">
                <label for="Doctor" class="slide Doctor">Doctor</label>
                <label for="Patient" class="slide Patient">Patient</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="{%url 'Doctor_register'%}" method="post" class="Doctor">
                    {% csrf_token %}
               {%for fields in dform %}
               <div class="field">
                  {{fields}}
               </div>
               {% endfor %}
                    
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Submit">
                    </div>
                    {%for fields in form%}
                    {%if fields.errors%}
                    <small>{{fields.errors}}</small>
                    {%endif%}
                    {%endfor%}
                    
                    
                </form>
            <form action="{%url 'Patient_register'%}" method="post" class="Patient">
               {% csrf_token %}
               {%for fields in pform %}
               <div class="field">
                  {{fields}}
               </div>
               {% endfor %}
               <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Submit">
            </div>
               {%for fields in form%}
               {%if fields.errors%}
               <small>{{fields.errors}}</small>
               {%endif%}
               {%endfor%}
                    
                </form>
            </div>
        </div>
    </div>
    <!--Stylesheet-->
    
    <script src="{%static 'js/toast.js'%}"></script>
    {%if messages%}
    {%for message in messages%}
    <script>showToast('{{message.tags}}', '{{message}}');</script>
    {%endfor%}
    {%endif%}
    <script>
        const DoctorText = document.querySelector(".title-text .Doctor");
        const wrapper=document.querySelector(".wrapper1");
        const DoctorForm = document.querySelector("form.Doctor");
        const DoctorBtn = document.querySelector("label.Doctor");
        const PatientBtn = document.querySelector("label.Patient");
        const PatientLink = document.querySelector("form .Patient-link a");
        PatientBtn.onclick = (() => {
            DoctorForm.style.marginLeft = "-50%";
            DoctorText.style.marginLeft = "-50%";
            wrapper.style.maxHeight="900px";
        });
        DoctorBtn.onclick = (() => {
            DoctorForm.style.marginLeft = "0%";
            DoctorText.style.marginLeft = "0%";
            wrapper.style.maxHeight = "650px";
        });
        PatientLink.onclick = (() => {
            PatientBtn.click();
            return false;
        });
    </script>
</body>

</html>